img#pilt1{
    border: 5px solid grey;
    border-radius: 160px;
    width: 20%;
    padding: 1%;
}
h1{
    font-family: Georgia, Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: indigo;
    text-align: center;
}
body{
    font-family: Georgia, Times, serif;
    background-color: lavender;
}
ul{
    list-style-type: square;
    margin-left: 5%;
border: 1pt dotted grey;
    width: 30%;
}
img#pilt2{
    border: 5px solid grey;
    border-radius: 160px;
    width: 50%;
    padding: 1%;
}
ul1{
    list-style-type: square;
    margin-left: 20%;
    border: 1pt dotted grey;
    width: 10%;
}
.center-image {
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center; /* Центрирует по вертикали */
    height: 300px; /* Установите высоту контейнера, если нужно */
}