body {
    font-family: Georgia, Times, serif;
    background-color: lavender;
    margin: 0;
    padding: 0;
}

nav {
    background-color: indigo;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav .navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .navigation li {
    display: inline;
    margin-right: 15px;
}

nav .navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav .navigation a:hover {
    text-decoration: underline;
}

/* Заголовки */
h1 {
    font-variant: small-caps;
    color: indigo;
    text-align: center;
}

h2 {
    text-align: center;
    color: darkslateblue;
}

/* Списки */
ul, ol {
    margin: 10px auto;
    padding: 0;
    width: 50%;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}


.center-image img {
    display: block;
    margin: 0 auto;
    border: 5px solid darkslateblue;
    border-radius: 20px;
}


footer {
    background-color: indigo;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.aine-list { /* Рамка */
    border: 2px dotted #7700ff;
    padding: 10px;
    width: 50%;
    margin-left: 100px;
    background-color: lavender;
    padding-left: 40px; /* Отступ маркеров и текста от левого края рамки */
}
#pilt1 {
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
}
#pilt2 {
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
}
footer {
    background-color: indigo;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.instruction {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    background-color: #e9e9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.code-block {
    margin: 10px 0;
    padding: 10px;
    background-color: lavender;
    border: 2px solid indigo;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    color: black;
}